.main-edit-div {
	width: 600px;
	height: auto;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: whitesmoke;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	box-shadow: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
}
.edit-header {
	width: 100%;
	border-radius: 4px;
	background-color: #023642;
	display: flex;
	padding: 1px;
}
.edit-header h1 {
	margin-left: 10px;
	color: white;
}
.edit-btn {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 5px;
}
main {
	min-height: 80px;
	padding: 25px;
}
.wrapper-edit-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 2px solid grey;
}
.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #023642;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper-edit-block {
	width: 500px;
}
.wrapper-edit {
	display: flex;
	align-items: center;
}
.wrapper-title {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.wrapper-title p {
	margin: 0;
	padding: 0;
}
.title {
	font-size: large;
}
/* icons */
.wrapper-icons {
	display: flex;
	align-items: center;
}
.icon {
	width: 40px;
	height: 40px;
	background: #00c293;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-left: 5px;
	cursor: pointer;
}
