@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700&family=Work+Sans:wght@100;200;300;400&display=swap');
.wrapper-preview {
	width: 800px;
	min-height: 700px;
	height: auto;
	background-color: white;
	display: flex;
	margin-top: 15px;
	margin-right: 50px;
	box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.wrapper-preview-mini{
	width: 400px;
	min-height: 500px;
	height: auto;
	background-color: whitesmoke;
	display: flex;
	margin-top: 15px;
	margin-right: 50px;
	position:absolute;
	top: 17.5%;
	left: 50%;
	box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.wrapper-preview-mini .rBlock {
	width: 110px;
}
.wrapper-preview-mini .rBlock h2{
	font-size: 18px;
}
.wrapper-preview-mini .rBlock p{
	font-size: 8px;
}
.rBlock {
	background: #0ea0c0;
	padding: 0 30px;
	width: 280px;
	color: white;
}
.rBlock h2 {
	word-wrap: break-word;
	font-size: 26px;
	font-family: 'Akshar', sans-serif;
	font-weight: 400;
}
.rBlock p {
	font-size: 13px;
	font-family: 'Work Sans', sans-serif;
	align-items: center;
	display: flex;
}
.rBlock p span{
	margin-left: 5px;
}
.rBlock h2 {
	word-wrap: break-word;
	font-family: 'Work Sans', sans-serif;
}
.block-skills {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 0;
	text-align: center;
	border-bottom: 1px solid white;
	font-family: 'Akshar', sans-serif;
	font-weight: 500;
}
.block-skills span{
	margin-left: 5px;
}
/* Left block */

.LBlock {
	padding: 0 15px;
}
.wrapper-preview-mini .LBlock h3{
	font-size: 15px;
}
.wrapper-preview-mini .LBlock p{
	font-size: 9px;
}
.wrapper-preview-mini .LBlock h4{
	font-size: 10px;
}
.LBlock h3 {
	font-family: 'Akshar', sans-serif;
	color: rgb(5, 179, 179);
	font-size: 22px;
}
.LBlock p {
	font-family: 'Akshar', sans-serif;
	font-size: 14px;
	width: 480px;
	word-wrap: break-word;
	margin: 0;
}
.wrapper-preview-mini .LBlock p{
	width: 200px;
}
.poragraph h4 {
	font-family: 'Akshar', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 5px 0 5px 0;
	display: flex;
	align-items: center;
}
.poragraph p {
	font-family: 'Work Sans', sans-serif;
}
