@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700&display=swap');
.header-resume {
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	align-items: center;
	box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.btn-div {
	margin-right: 40px;
}
.wrapper-resume{
	background: #edf1f3;
}
.btn-download {
	width: 187px;
	height: 50px;
	border-style: none;
	background: #00c293;
	color: #fff;
	border: 0.8px solid grey;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
	font-size: 20px;
}
.title {
	margin-left: 50px;
}
.title-name {
	width: 250px;
	height: 50px;
	border-style: none;
	background: white;
	color: #10a1bf;
	cursor: pointer;
	border-radius: 3px;
	font-size: 30px;
	font-weight: 700;
}
.btn-download:hover {
	opacity: 0.9;
}
.content-resume {
	width: 1265px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 50px 0 0 ;
}
.wrapper-btn {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper-btn h4 {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}
.add-btn {
	width: 250px;
	height: 40px;
	background: #fff;
	margin-top: 27px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px 10px;
	border: 2px solid #00c293;
	cursor: pointer;
}
.add-btn:hover {
	transition: ease-in-out 0.4s;
	background-color: #00c293;
}
.add-btn button {
	border: 2px solid #012a35;
	background: none;
	width: 35px;
	height: 35px;
	border-radius: 6px;
	text-align: center;
}
.back-btn {
	border: 2px solid #00c293;
}
.back-btn:hover {
	background: rgba(255, 58, 58, 0.856);
	border: 2px solid red;
}
.btn-create:hover{
background:#10a1bf ;
border:2px solid rgb(21, 76, 148)
}